{% load static %}
<div id='about' class="about-area section-padding bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12 info">
          <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
            <div>
              <div class="site-heading">
                <p class="mb-3">Gerenciamento estatístico</p>
                <h2 class="section-title">Estatísticas detalhadas sobre sua empresa</h2>
              </div>
              <div class="content">
                <p>
                  Com a Fusion você pode consultar insights para saber se seu projeto está indo bem ou precisa de alguma melhoria. Em nossos pacotes disponíveis, você tem todo o suporte necessário para análisar e gerenciar sua aplicação. 
                </p>
                <a href="#services" class="btn btn-common mt-3">Saiba mais</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
          <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="" >
        </div>
      </div>
    </div>
  </div>
