{% load static %}
<footer id="footer" class="footer-area section-padding">
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
            <div class="widget">
              <h3 class="footer-logo"><img src="{% static 'img/logo.png' %}" alt=""></h3>
              <div class="textwidget">
                <p>No mundo em constante evolução da tecnologia, ter uma presença online forte e impactante é essencial. Com a Fusion, você encontrará tudo o que precisa para levar o seu negócio para o próximo nível.</p>
              </div>
              <div class="social-icon">
                <a class="facebook" href="https://github.com/JoaoThiagoNunes" target="_blank"><i class="lni-facebook-filled"></i></a>
                <a class="twitter" href="https://github.com/JoaoThiagoNunes" target="_blank"><i class="lni-twitter-filled"></i></a>
                <a class="instagram" href="https://github.com/JoaoThiagoNunes" target="_blank"><i class="lni-instagram-filled"></i></a>
                <a class="linkedin" href="https://www.linkedin.com/in/joaothiagonunes/" target="_blank"><i class="lni-linkedin-filled"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <h3 class="footer-titel">Produtos</h3>
            <ul class="footer-link">
              <li><a href="#features">Monitoração</a></li>
              <li><a href="#features">Aplicação</a></li>
              <li><a href="#features">Recursos</a></li>
              <li><a href="#features">Empresa</a></li>           
              <li><a href="#features">Gestão de funcionários</a></li>           
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <h3 class="footer-titel">Recursos</h3>
            <ul class="footer-link">
              <li><a href="#pricing">Opções de pagamento</a></li>
              <li><a href="princing">Tabela de taxas</a></li>
              <li><a href="#contact">Por onde começar?</a></li>
              <li><a href="#cta">Verificação de identidade</a></li>
              <li><a href="#cta">Verificação de cartão</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <h3 class="footer-titel">Contact Author Template</h3>
            <ul class="address">
              <li>
                <a href="#"><i class="lni-map-marker"></i> 105 Madison Avenue - <br> Third Floor New York, NY 10016</a>
              </li>
              <li>
                <a href="#"><i class="lni-phone-handset"></i> P: +84 846 250 592</a>
              </li>
              <li>
                <a href="#"><i class="lni-envelope"></i> E: contact@uideck.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>  
    </div> 
    <div id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-content">
              <p>Copyright © 2020 <a rel="nofollow" href="https://uideck.com" target="_blank">UIdeck</a> All Right Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </div>   
  </footer> 