{%load static%}
<div id="hero-area" class="hero-area-bg">
    <div class="container">      
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
          <div class="contents">
            <h2 class="head-title">App, Business & SaaS<br>Fusion Enterprise</h2>
            <p>Este site é um projeto de aprendizado para demonstrar meus conhecimentos com Django. <br>  O HTML, CSS e JS são templates que podem ser consultados neste <a href="https://onepagelove.com/fusion-lite" class="text-dark" target="_blank">link</a> e o projeto completo está no meu <a target="_blank" href="https://github.com/JoaoThiagoNunes/Django-Fusion.git" class="text-dark">GitHub</a>.</p>
            <div class="header-button">
              <a target='_blank' href="https://github.com/JoaoThiagoNunes/Django-Fusion.git" class="btn btn-common">Saiba mais</i></a>
              <a target='_blank' href="https://www.linkedin.com/in/joaothiagonunes/" class="btn btn-border video-popup">Entre em contato</i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <div class="intro-img">
            <img class="img-fluid" src="{% static 'img/intro-mobile.png' %}" alt="">
          </div>            
        </div>
      </div> 
    </div> 
  </div>

  <div class='container'>
    {% if messages %}
      {% for m in messages %}
        <div class='alert alert-{{ m.tags }}'>
            <button type="button" class="close" data-dismiss="alert"></button>
            <strong>{{ m }}</strong>
        </div>
      {% endfor %}
    {% endif %}
  </div>

</header>
<!-- Header Area wrapper End -->